.home-container {
    display: flex;
    align-items: center;
    height: 100vh;
    margin-top: -9%;
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
  }
  
  .info h5 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }
  
  .info h1 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
  }
  
  .info h1 strong {
    font-weight: 700;
  }
  
  .info p {
    margin: 20px 0;
    font-size: 1rem;
    color: #666;
  }
  
  .btn-discover {
    background-color: #ff7f47;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  